.menu {
  background: url("../images/background_menu.svg") center/cover no-repeat #fff;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.menu__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px auto 0;
  max-width: 780px;
  text-align: center;
}

.menu__cards {
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
