.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
}

.menu__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 24px auto 0;
  max-width: 780px;
  text-align: center;
}

.menu__cards {
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
