@keyframes change-color {
  from {
    color: #000;
  }
  to {
    color: #2f80ed;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  right: 50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

.nav__link {
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  animation: 1s forwards linear change-color;
}
